@mixin font-header {
  font-weight: $font-weight-medium;
  font-size: $font-size-heading;
  line-height: $font-height-heading;
  color: $color-title;
}

@mixin font-title {
  font-weight: $font-weight-bold;
  font-size: $font-size-title;
  line-height: $font-height-title;
  color: $color-title;
}

@mixin font-text {
  font-weight: $font-weight-regular;
  font-size: $font-size-text;
  line-height: $font-height-text;
  color: $color-subtitle;
}

@mixin font-link {
  font-weight: $font-weight-semi-bold;
  font-size: $font-size-text;
  line-height: $font-height-text;
  color: $color-title;
}