// Colors
$color-background:#f4f4f4;
$color-title: #151515;
$color-subtitle: #222222;
$color-grey-text: #EBEBEB;
$color-grey-footer-text: #CFCFCF;
$color-button: #24B47E;
$color-hover-button: #319E75;
// font-weights
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
// font sizes
$font-size-heading: 14px;
$font-size-text: 18px;
$font-size-title: 55px;
$font-size-article: 34px;
// line-heights
$font-height-heading: 18px;
$font-height-text: 28px;
$font-height-title: 60px;
$font-height-article: 44px;