.bikes-gallery {
  max-width: 1440px;
  width: 100%;
  box-sizing: border-box;
  padding: 60px 0 0;

  &__indicators-title-wrapper {
    display: flex;
    justify-content: space-between;

    @media (max-width: 540px) {
      display: block;
    }
  }

  &__bikes-card-link {
    max-width: 380px;
    width: 100%;
    display: block;
    text-decoration: none;
    padding-bottom: 60px;

    @media (max-width: 1320px) {
      &:nth-child(3) {
        display: none;
      }
    }

    @media (max-width: 998px) {
      &:nth-child(2) {
        display: none;
      }
    }

    @media (max-width: 640px) {
      padding-bottom: 20px;
    }
  }

  &__bikes-card {
    margin: 0;
    text-align: center;
  }

  &__image-wrapper {
    max-width: 380px;
    background-color: $color-background;
    width: 100%;
    filter: drop-shadow(0px 20px 50px rgba(0, 0, 0, 0.06));
  }

  &__title {
    margin: 0 0 0 120px;
    @include font-title;

    @media (max-width: 900px) {
      margin: 0 0 0 18px;
    }

    @media (max-width: 690px) {
      @include font-title-mobile;
    }

    @media (max-width: 540px) {
      margin: 0 0 40px 18px;
    }
  }

  &__images-wrapper {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    padding: 120px 120px 0;

    @media (max-width: 1320px) {
      display: flex;
      justify-content: space-between;
    }

    @media (max-width: 998px) {
      justify-content: center;
    }

    @media (max-width: 900px) {
      padding: 120px 18px 0;
    }
  }

  &__name {
    margin: 22px 0 0 20px;
    @include font-text;
    font-weight: $font-weight-semi-bold;
    line-height: 22px;
    text-align: left;
  }

  &__image {
    border-radius: 20px;
    @media (max-width: 430px) {
      width: 255px;
      height: 255px;
    }
  }
}