.itc-slider {
  &__indicators {
    &_position_static {
      bottom: 480px;
      justify-content: flex-end;
      margin: 0;
      @include font-link;
      font-weight: $font-weight-regular;
    }
  }

  &__item {
    &_display_mobile {
      @media (max-width: 640px) {
        display: grid;
        grid-template-rows: repeat(3, minmax(min-content, max-content));
      }
    }
  }

  &_space_top {
    @media (max-width: 494px) {
      margin-top: 40px;
    }
  }

  &__btns-wrapper {
    &_display_desktop {
      display: block;

      @media (max-width: 640px) {
        display: none;
      }
    }

    &_display_mobile {
      display: none;

      @media (max-width: 640px) {
        display: block;
      }
    }
  }

  &__btn {
    &_size_small {
      @media (max-width: 494px) {
        width: 24px;
        height: 24px;
      }
    }
  }

  &__indicator {
    &_size_big {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 40px;
      width: 59px;
      height: 28px;
      text-indent: 0;
      background: none;
      border: none;
      opacity: .7;

      &:hover {
        opacity: .6;
      }
    }

    &_size_big:last-child {
      margin: 0;
    }

    &_active {
      background: none;
      @include font-link;
      opacity: 1;

      &:hover {
        opacity: 1;
      }
    }
  }
}