.nav-menu {
  max-width: 399px;
  width: 100%;
  padding: 28px 120px 28px 0;
  &__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }
  &__link {
    text-decoration: none;
    @include font-header;
  }
}