.workouts {
  width: 100%;
  max-width: 1440px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 150px 120px 120px;

  @media (max-width: 1280px) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, minmax(min-content, max-content));
  }

  @media (max-width: 900px) {
    padding: 40px 18px 60px;
  }

  &__text-box {
    padding-right: 160px;

    @media (max-width: 1280px) {
      padding: 0;
    }
  }

  &__title {
    margin: 0;
    @include font-title;

    @media (max-width: 1280px) {
      display: none;
    }

    &_display_mobile {
      display: none;

      @media (max-width: 1280px) {
        display: block;
        grid-row: 2;
        margin-bottom: 50px;
      }
    }

    @media (max-width: 690px) {
      @include font-title-mobile;
    }

    @media (max-width: 494px) {
      margin-top: 40px;
    }

    &_theme_dark {
      color: #fff;
    }
  }

  &__text {
    margin: 50px 0 0;
    @include font-text;

    @media (max-width: 494px) {
      margin: 40px 0 0;
      @include font-text-mobile;
    }

    &_theme_dark {
      color: #e5e5e5;
    }
  }

  &__links {
    display: flex;
    gap: 30px;
    margin-top: 182px;

    @media (max-width: 1354px) {
      margin-top: 122px;
    }

    @media (max-width: 900px) {
      margin-top: 40px;
    }
  }

  &__link {
    display: block;
    text-decoration: none;
    @include font-link;
    transition: .3s;

    &:hover {
      opacity: .75;
    }

    @media (max-width: 494px) {
      font-size: 14px;
      line-height: 20px;
    }

    &_theme_dark {
      color: #fff;
    }
  }

  &__image {
    display: block;
    max-width: 100%;

    @media (max-width: 1280px) {
      grid-row: 3;
      max-width: none;
      width: 100%;
    }
  }
}